.log-in {
    background-color: #D8F7CA;
    padding: 2rem 4rem;
    height: 500px;
}

.log-in-title {
font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #1F5229;
    font-family: 'Times New Roman', Times, serif;

}

.log-in-button {
    width: 100px;
        height: 40px;
        border-radius: 5px;
        margin-top: 2rem;
        font-weight: 400;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #1F5229;
        color: #8fe051;
        letter-spacing: 1.15px;
}

.log-in-button:hover {
    background-color: #BCE29E;
        color: #1F5229;
}


.log-in .label {
    font-family: 'Poppins', serif;
    color: #1F5229;
    

}

.sign-up-guide {
    margin: 2rem;
}

.sign-up-guide .sign-up-here {
    text-decoration: none;
    color: orangered;
    cursor: pointer;
}

.sign-up-guide .sign-up-here:hover {
    color: orange;
}

