/* roots */

:root {
    --descriptive-font: 'Lusitana',
        serif;
    --directive-font: 'Ysabeau',
        sans-serif;
    --headings: 'Lato',
        sans-serif;
    --welcome: 'Amatic SC',
        cursive;
        --poppins: "Poppins", 
             sans-serif;
           --hero: 'Sacramento',
            cursive;

    --green-one: #1F5229;
    --green-two: #F2F7F0;
    --green-three: #D8F7CA;
    --green-four: #AFEEEE;  
    --green-five: #8fe051;
    --checkout-green: #4BB543;
    --navbar-blue: #D1EDE1;
    --orange: #F76D03;
    --ivory: #F6F7E9;
}

/* navbar */
.navbar {
    height: 80px;
}
.navbar .container {
    width: 100% !important;
    white-space: nowrap;

}

.navbar .text-light {
    color: var(--green-one) !important;
}

.navbar .text-light:hover {
    color: var(--checkout-green) !important;
}


.navbar-style {
    background-color: var(--navbar-blue) !important;
}

.navbar li {
    font-family: var(--descriptive-font);
    font-size: 18px;
    display: flex;
    align-content: space-around;
    font-weight:bold;
}

.navbar li:hover {
    transform: translateY(-1px);
    color: var(--checkout-green)!important;
    font-size: 19px;

}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link.active {


    color: var(--checkout-green)!important;
    font-size: 20px;
}

.navbar .links svg {
    margin: 0.5rem;
    color: var(--green-one);
}

.navbar .links svg:hover {
    color: var(--checkout-green);
}



/* homepage */

.homepage .top {
    background-image: url("./images/new.jpg");
    background-repeat: no-repeat;
    background-color: var(--green-one);
    background-size: cover;
    background-position: center;
   height: 400px;       
}

.homepage .welcome {
    font-weight: 400;
    font-size: 70px;
    padding: 100px;
    font-family: var(--welcome);
    color: var(--green-one);
    animation: bounce 2s infinite;
   
}

.homepage a  {
    text-decoration: none;
}



@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}





@keyframes shineDisplay {
    0% {
        color: var(--green-four);
    }

    25% {
    
        color: var(--green-five);
    }

    50% {
       
        color: var(--green-four);
    }

    75% {
        color: var(--green-five);
    }

    100% {
        color: var(--green-four);
    }
}

.homepage a .last-note {
    text-align: center;
    padding: 2rem 2rem;
    color: var(--orange);
    font-size: 20px;
    font-family: var(--descriptive-font);
}

.homepage a .last-note:hover {
    color: orangered;
}

@media (max-width: 900px) {
    
            .homepage {
    
                background-image: url("./images/new-small.jpg");
                height: 300px;
                margin: 0;
            }

           .homepage .welcome {
            font-size: 36px;
            padding: 50px;
           }

    
            .homepage .down {
                margin-right: 10px;
                padding-top: 5px;
                color: var(--green-four);
                width: 20;
                height: 20;
            }

            .homepage .first {
                margin-top: 30px;
            }
       
    .homepage button {
        text-align: left;
        margin-left: 30px;
        font-size: 24px;
        width: 150px;
        height: 50px;
        padding-top: 0;
        cursor: pointer;
    }

    .homepage button:hover {
        background-color: var(--green-four);

    }

    .homepage a .last-note {
        padding: 1rem;
        font-size: 16px;
    }
}


/* contact section */

.contact  {
    background-color: var(--green-two);
    text-align: center;
    color: var(--green-one);
    font-size: 20px;
    padding: 1rem;
               
}

.contact h3 {
    font-family: var(--welcome);
        font-size: 32px;  
        text-align: left; 
        padding-bottom: 20px;
            
}


.contact h4 {
    opacity: 0.8;
    font-family: var(--welcome);
    text-align: center;
    font-size: 50px;
    animation: shine 4s ease-in infinite;
    padding: 0;
   
    
    }
    
    @keyframes shine {
    
        0% {
            color: var(--green-one);
    
        }

        50% {
            color: #008400;
        }

         
       
    }


.contact p {
    font-family: var(--descriptive-font);
    opacity: 0.8;
    text-align: center;

}

.contact .socials {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact .socials a {
    color: var(--green-one);
    /* Change the font color here */
    margin-bottom: 10px;
    opacity: 0.8;
    /* Adjust the spacing between icons */
}

.contact .socials a:hover {
    color: var(--orange);
}

.contact .socials span {
    padding: 1rem 1rem;
    font-family: var(--descriptive-font);
}

.contact .horiz {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.contact .horiz a {
        border-radius: 30px;
    color: var(--green-three);
    background-color: var(--green-one);
    padding: 0.5rem;
    margin: 1rem;
}

.contact .container {
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width: 900px) {
    .contact {
        font-size: 16px;
    }

    .contact h3 {
        font-size: 28px;
        text-align: center;
        padding-bottom: 10px;
    }

    .contact h4 {
        font-size: 40px;
    }

    .contact p {
        text-align: center;
    }

    .contact .socials {
        margin-bottom: 10px;
    }

    .contact .container {
        max-width: 100%;
        padding: 0 10px;
    }
}